@font-face {
    font-family: norse;
    src: url("fonts/norse-webfont.woff2") format("woff2"),
         url("fonts/norse-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: norse;
    src: url("fonts/norsebold-webfont.woff2") format("woff2"),
         url("fonts/norsebold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}